@{ ViewData["Title"] = "Identity Admin"; }
<h1>Identity Admin</h1>
<ul>
    <li><a asp-action="Users">Users</a></li>
    <li><a asp-action="Roles">Roles</a></li>
    <li><a asp-action="Claims">Claims</a></li>
</ul>
