@{ ViewData["Title"] = "Notification Center"; }
<h1>Notification Center</h1>
<p>Notification center shell – wire INotificationRouter here.</p>
<ul>
    <li><a asp-action="Templates">Templates</a></li>
</ul>
