@page
@model IndexModel
@{
    ViewData["Title"] = "SmartWorkz.Core TagHelper Demos";
}

<div class="container mt-5">
    <h1>SmartWorkz.Core TagHelper Demonstrations</h1>
    <p class="lead">Interactive demos of all TagHelpers and component services</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Component Services</h5>
                    <p class="card-text">IconProvider, ValidationMessageProvider, FormComponentProvider, AccessibilityService</p>
                    <a href="/Components/Services" class="btn btn-primary">View Demos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Display TagHelpers</h5>
                    <p class="card-text">Alert, Badge, Button, Icon, Pagination, Breadcrumb</p>
                    <a href="/Display/AllComponents" class="btn btn-primary">View Demos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Form TagHelpers</h5>
                    <p class="card-text">Input, Select, FormGroup, and more</p>
                    <a href="/Forms/AllComponents" class="btn btn-primary">View Demos</a>
                </div>
            </div>
        </div>
    </div>
</div>
